.header-container{
    background-color: #000;
    color: #fff !important;
}
.logo-name {
    text-align: center;
}
.account-text{
    margin-left: 9px;
}
.cart-text{
    margin-left: 10px;
}

.AccountContainer{
    cursor: pointer;
}
.CartContainer{
    cursor: pointer;
}